* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(to left, rgb(16, 16, 109), rgb(38, 38, 179));
  font-family: Arial, Helvetica, sans-serif;
}

.navigation {
  width: 480px;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

.navigation p {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.container-game {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.card-container {
  display: relative;
  margin: 10px;
  width: 100px;
  height: 120px;
}

.card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: rotateY(180deg);
}

.front,
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 249, 249);
  border-radius: 10px;
  padding: 0 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
